/* Botones de iconos */
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin: 0 5px;
  color: #333;
  font-size: 20px;
  transition: color 0.3s ease;
}

.icon-button i {
  pointer-events: none;
}

.icon-button.edit-button:hover {
  color: #f0ad4e;
}

.icon-button.delete-button:hover {
  color: #d9534f;
}

/* Tabla de libros */
.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
  background-color: #f7f7f7;
}

.tabla-usuarios th,
.tabla-usuarios td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.tabla-usuarios th {
  background-color: #4287f5;
  color: white;
  font-weight: bold;
}

.tabla-usuarios tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla-usuarios tr:hover {
  background-color: #d0e4fc;
  cursor: pointer;
}

.tabla-usuarios td {
  font-family: Arial, sans-serif;
}

/* Estilo para el encabezado (cabezera) */
.encabezado {
  text-align: center;
  font-size: 24px;
  color: #4287f5;
  margin-bottom: 20px;
}

/* Estilos para los botones */
.pagina-boton {
  background-color: #4287f5;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagina-boton:hover {
  background-color: #3366cc;
}

/* Estilos para el texto de la página actual */
.pagina-actual {
  font-size: 18px;
  color: #333;
}

/* Estilos para el contenedor que centrará los botones */
.centro-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container {
  margin-left: 10%;
}

/* Formulario de registro y edición */
.registrar2 {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  height: 60%;
  width: 30%;
  text-align: center;
  margin-left: 32%;
  margin-top: 2%;
}

.registrar2 .form-group {
  margin-bottom: 20px;
}

.registrar2 label {
  font-weight: bold;
}

.registrar2 input[type="text"],
.registrar2 input[type="number"],
.registrar2 textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
}

.registrar2 textarea {
  resize: vertical;
}

.registrar2 button[type="submit"] {
  display: block;
  width: 40%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10%;
}

.registrar2 button[type="submit"]:hover {
  background-color: #0056b3;
}

.cerrar {
  display: flex;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 65%;
  margin-top: -9%;
}

.yyy {
  margin-left: 5px;
  width: 30%;
  height: 10%;
}

/* Estilos personalizados para el botón */
.custom-button {
  background-color: #f50057;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.1s;
}

.custom-button:hover {
  background-color: #d50050;
  transform: scale(1.05);
}
